node_modules
.env
.env.docker
# update
update/
dist
.prettierrc
.prettierignore
server/src/utils/templates/secret.html
server/src/utils/templates/trail.mjml

#For the testing purpose
server/src/routes/TEST.route.ts
testdir

.eslintrc.json
.eslintignore
logs/
trial.md
